@use '../../../../../../../../_dimensions.scss' as *;

.weather-widget-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  overflow-x: auto;
}
