@use '../../_dimensions.scss' as *;
@use '../../_colors.scss' as *;

.card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: 3px;
  background-color: $color-orange;
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
  }
  &__content {
    display: flex;
    flex: 1;
  }
}
