@use '../../_dimensions.scss' as *;
@use '../../_colors.scss' as *;

.weather-widget {
  display: flex;
  flex: 1;
  padding: 10px;
  min-width: $min-width;
  border-radius: 3px;
  padding: 5px 10px;
  &--day {
    background-color: $color-day-blue;
  }
  &--night {
    background-color: $color-night-blue;
  }
}
