@use '../../../../../../_colors.scss' as *;

.weather-widget-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  background-color: white;
  color: black;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      justify-content: space-between;
      span:first-child {
        color: $color-orange;
      }
    }
  }
}
