@use '../../../../../../_colors.scss' as *;

.weather-widget-forecast {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: white;
  color: black;
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    &__chart {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
    }
  }
}
